LinkedData.config do |config|
  config.goo_port          = 9000
  config.goo_host          = "localhost"
  config.search_server_url = "http://localhost:8983/solr/term_search_core1"
  config.property_search_server_url = "http://localhost:8983/solr/prop_search_core1"
  config.repository_folder = "./test/data/ontology_files/repo"
  config.rest_url_prefix   = "http://data.bioontology.org/"
  config.enable_security   = false
  config.java_max_heap_size         = '10240M'
  #PURL server config parameters
  config.enable_purl            = false
  config.purl_host              = "purl.bioontology.org"
  config.purl_port              = 80
  config.purl_username          = ""
  config.purl_password          = ""
  config.purl_maintainers       = ""
  config.purl_target_url_prefix = "http://bioportal.bioontology.org"
  config.sparql_endpoint_url    = "http:://sparql_endpoint.com"
  Goo.configure do |conf|
      conf.main_languages = ['en']
  end

 #oauth
 config.oauth_providers = {
    github: {
      check: :access_token,
      link: 'https://api.github.com/user'
    },
    keycloak: {
      check: :jwt_token,
      cert: 'KEYCLOAK_SECRET_KEY'
    },
    orcid: {
      check: :access_token,
      link: 'https://pub.orcid.org/v3.0/me'
    },
    google: {
       check: :access_token,
       link: 'https://www.googleapis.com/oauth2/v3/userinfo'
    }
 }
end

#sometimes tmp by default cannot allocate large files
$TMP_SORT_FOLDER = "SOME TMP FOLDER"
